In [25]:
import pandas as pd
import os
import math

In [37]:
os.chdir('I:\\10_STAFF\\YP\\Add city counts to TCDS\\combine dup code')

In [76]:
dup=pd.read_excel("dup.xlsx")
locs=pd.read_excel("Mesa locs.xlsx")
num=pd.read_excel("Mesa id.xlsx")

In [69]:
locs.head()

,Location ID,LRS Id,Master Local Id,Community,Jurisdiction,Located On,road,From Road,From,To Road,to,Latitude,Longitude
0,33943,07 1ST AVE D,33943,Mesa,City of Mesa,01 AVE,01,CENTER,CENTER,MESA DRIVE,MESA,33.41290,-111.8248
1,33959,07 1ST ST E,33959,Mesa,City of Mesa,01 STREET,01,CENTER,CENTER,MESA DRIVE,MESA,33.41724,-111.8257
2,33942,07 1ST AVE D,33942,Mesa,City of Mesa,01 AVE,01,COUNTRY CLUB,COUNTRY,CENTER,CENTER,33.41296,-111.8375
3,33958,07 1ST ST E,33958,Mesa,City of Mesa,01 STREET,01,COUNTRY CLUB,COUNTRY,CENTER,CENTER,33.41720,-111.8330
4,33962,07 8TH ST C,33962,Mesa,City of Mesa,08 STREET,08,ALMA SCHOOL,ALMA,DATE,DATE,33.42944,-111.8540

In [70]:
dup.head()

      ID     STAT_NUM       LAT      LONG      ROADWAY
0  33601  1-004-62-64  33.37027 -111.8594  ALMA SCHOOL
1  33606  1-004-70-72  33.41838 -111.8568  ALMA SCHOOL
2  33607  1-004-72-73  33.42584 -111.8565  ALMA SCHOOL
3   2173  1-008-68-70  33.41023 -111.8228      MESA DR
4   2175  1-008-72-74  33.43011 -111.8227      MESA DR

In [50]:
df = dup.merge(locs, left_on="Dup_ID", right_on="Location ID", how="left")

In [51]:
df.tail()

,Dup_ID,LOCATION_ID,Location ID,LRS Id,Master Local Id,Community,Jurisdiction,Located On,road,From Road,From,To Road,to,Latitude,Longitude
124,4163,33998,4163,07 MCDOWELL RD,4163,Mesa,City of Mesa,MCDOWELL RD,MCDOWELL,VAL VISTA DR,VAL,GREENFIELD RD,GREENFIELD,33.466220,-111.737800
125,4150,33999,4150,07 MCDOWELL RD,4150,Mesa,City of Mesa,MCDOWELL RD,MCDOWELL,GREENFIELD RD,GREENFIELD,HIGLEY RD,HIGLEY,33.466300,-111.724700
126,4152,34000,4152,07 MCDOWELL RD,4152,Mesa,City of Mesa,MCDOWELL RD,MCDOWELL,HIGLEY RD,HIGLEY,RECKER RD,RECKER,33.466336,-111.706667
127,4158,34001,4158,07 MCDOWELL RD,4158,Mesa,City of Mesa,MCDOWELL RD,MCDOWELL,RECKER RD,RECKER,POWER RD,POWER,33.466150,-111.696440
128,3068,34006,3068,07 LEHI RD,3068,Mesa,City of Mesa,LEHI RD,LEHI,MESA DR,MESA,STAPLEY DR,STAPLEY,33.458900,-111.815717

In [52]:
df1 = df.merge(locs, left_on="LOCATION_ID", right_on="Location ID", how="left")

In [53]:
df1.tail()

,Dup_ID,LOCATION_ID,Location ID_x,LRS Id_x,Master Local Id_x,Community_x,Jurisdiction_x,Located On_x,road_x,From Road_x,...,Community_y,Jurisdiction_y,Located On_y,road_y,From Road_y,From_y,To Road_y,to_y,Latitude_y,Longitude_y
124,4163,33998,4163,07 MCDOWELL RD,4163,Mesa,City of Mesa,MCDOWELL RD,MCDOWELL,VAL VISTA DR,...,Mesa,City of Mesa,MCDOWELL,MCDOWELL,VAL VISTA,VAL,GREENFIELD,GREENFIELD,33.46631,-111.7436
125,4150,33999,4150,07 MCDOWELL RD,4150,Mesa,City of Mesa,MCDOWELL RD,MCDOWELL,GREENFIELD RD,...,Mesa,City of Mesa,MCDOWELL,MCDOWELL,GREENFIELD,GREENFIELD,HIGLEY,HIGLEY,33.46627,-111.7235
126,4152,34000,4152,07 MCDOWELL RD,4152,Mesa,City of Mesa,MCDOWELL RD,MCDOWELL,HIGLEY RD,...,Mesa,City of Mesa,MCDOWELL,MCDOWELL,HIGLEY,HIGLEY,RECKER,RECKER,33.46628,-111.7084
127,4158,34001,4158,07 MCDOWELL RD,4158,Mesa,City of Mesa,MCDOWELL RD,MCDOWELL,RECKER RD,...,Mesa,City of Mesa,MCDOWELL,MCDOWELL,RECKER,RECKER,POWER,POWER,33.46627,-111.6910
128,3068,34006,3068,07 LEHI RD,3068,Mesa,City of Mesa,LEHI RD,LEHI,MESA DR,...,Mesa,City of Mesa,LEHI,LEHI,MESA DRIVE,MESA,STAPLEY,STAPLEY,33.45896,-111.8117

In [64]:
df1 = df1[['Dup_ID','LOCATION_ID','Location ID_x','Located On_x','From Road_x','To Road_x','Latitude_x','Longitude_x','Location ID_y','Located On_y','From Road_y','To Road_y','Latitude_y','Longitude_y'
]]
#df1['Distance'] = math.sqrt((df1.Latitude_x-df1.Latitude_y)**2+(df1.Longitude_x-df1.Longitude_y)**2)
writer = pd.ExcelWriter('output.xlsx')
df1.to_excel(writer,'Sheet1')
writer.save()

In [71]:
num.head()

      ID     STAT_NUM       LAT      LONG      ROADWAY
0  33601  1-004-62-64  33.37027 -111.8594  ALMA SCHOOL
1  33606  1-004-70-72  33.41838 -111.8568  ALMA SCHOOL
2  33607  1-004-72-73  33.42584 -111.8565  ALMA SCHOOL
3   2173  1-008-68-70  33.41023 -111.8228      MESA DR
4   2175  1-008-72-74  33.43011 -111.8227      MESA DR

In [77]:
df2 = num.merge(locs, left_on="ID", right_on="Location ID", how="left")

In [78]:
df2.head()

,ID,STAT_NUM,LAT,LONG,ROADWAY,Location ID,LRS Id,Master Local Id,Community,Jurisdiction,Located On,road,From Road,From,To Road,to,Latitude,Longitude
0,33600,1-004-61-62,33.36050,-111.8591,ALMA SCHOOL,33600,07 ALMA SCHOOL RD,33600,Mesa,City of Mesa,ALMA SCHOOL,ALMA,SOUTH CITY LIMITS,SOUTH,GUADALUPE,GUADALUPE,33.36050,-111.8591
1,33601,1-004-62-64,33.37027,-111.8594,ALMA SCHOOL,33601,07 ALMA SCHOOL RD,33601,Mesa,City of Mesa,ALMA SCHOOL,ALMA,GUADALUPE,GUADALUPE,BASELINE,BASELINE,33.37027,-111.8594
2,33602,1-004-64-65,33.38201,-111.8589,ALMA SCHOOL,33602,07 ALMA SCHOOL RD,33602,Mesa,City of Mesa,ALMA SCHOOL,ALMA,BASELINE,BASELINE,SUPERSTITION FREEWAY,SUPERSTITION,33.38201,-111.8589
3,33603,1-004-65-66,33.38953,-111.8573,ALMA SCHOOL,33603,07 ALMA SCHOOL RD,33603,Mesa,City of Mesa,ALMA SCHOOL,ALMA,SUPERSTITION FREEWAY,SUPERSTITION,SOUTHERN,SOUTHERN,33.38953,-111.8573
4,33604,1-004-66-68,33.39956,-111.8570,ALMA SCHOOL,33604,07 ALMA SCHOOL RD,33604,Mesa,City of Mesa,ALMA SCHOOL,ALMA,SOUTHERN,SOUTHERN,BROADWAY,BROADWAY,33.39956,-111.8570

In [79]:
writer = pd.ExcelWriter('ID&Project_number match.xlsx')
df2.to_excel(writer,'Sheet1')
writer.save()