In [37]:
import os
import numpy as np
import pandas as pd

In [123]:
os.chdir('I:/06_PROJECTS/In-house/i5012002 Fwy Seasonal Variation Factors/selected locs')

In [130]:
os.getcwd()

'I:\\06_PROJECTS\\In-house\\i5012002 Fwy Seasonal Variation Factors\\selected locs'

In [131]:
#ramp_data=pd.read_excel('Fwy_2017_ramp_data.xlsx')
ramp_data=pd.read_csv('2017.csv')

In [132]:
det=ramp_data['det#'].tolist()
det=list(set(det))
factor_month = []
factor_week = []
factor_nohd_month=[]
factor_nohd_week=[]

In [133]:
for number in det:
        ramp_data_loc=ramp_data[ramp_data['det#']== number]    
        df=ramp_data_loc[ramp_data_loc.Imputation!='Bad']
        df_nohd=df[df.Holiday_flag!='Holiday']
        ave=pd.pivot_table(df,index='month',columns='week',values="MD",aggfunc='mean', margins=True)
        ave_nohd=pd.pivot_table(df_nohd,index='month',columns='week',values="MD",aggfunc='mean', margins=True)
        count=pd.pivot_table(df,index='month',columns='week',values="MD",aggfunc='count', margins=True)
        count_nohd=pd.pivot_table(df_nohd,index='month',columns='week',values="MD",aggfunc='count', margins=True)
        row_index=['Jan', 'Feb', 'Mar', 'Apr' , 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec','All']
        col_index=['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday','Friday','Saturday','All']
        ave = ave.reindex(col_index, axis = 1)
        ave = ave.reindex(row_index, axis = 0)

        ave_nohd = ave_nohd.reindex(col_index, axis = 1)
        ave_nohd = ave_nohd.reindex(row_index, axis = 0)

        count= count.reindex(col_index, axis = 1)
        count = count.reindex(row_index, axis = 0)

        count_nohd= count_nohd.reindex(col_index, axis = 1)
        count_nohd = count_nohd.reindex(row_index, axis = 0)

        #calculate factors
        factor=ave/ave.loc["All" , "All"]
        factor_nohd=ave_nohd/ave_nohd.loc["All" , "All"]
        
        # Creating Excel Writer Object from Pandas  
       # writer = pd.ExcelWriter(str(number)+'.xlsx',engine='xlsxwriter')   
       # workbook=writer.book
       # worksheet=workbook.add_worksheet('result')
       # writer.sheets['result'] = worksheet
       # factor.to_excel(writer,sheet_name='result',startrow=0 , startcol=0)   
       # count.to_excel(writer,sheet_name='result',startrow=0, startcol=12) 
       # factor_nohd.to_excel(writer,sheet_name='result',startrow=20 , startcol=0)   
      #  count_nohd.to_excel(writer,sheet_name='result',startrow=20, startcol=12) 
       # writer.save()
        
        factor_month.append(factor['All'])
        factor_week_value=factor.iloc[['12']].T
        factor_week.append(factor_week_value['All'])
        
        factor_nohd_month.append(factor_nohd['All'])
        factor_nohd_week_value=factor_nohd.iloc[['12']].T
        factor_nohd_week.append(factor_nohd_week_value['All'])

In [134]:
factor_nohd_month

[month
 Jan    0.956138
 Feb    1.021299
 Mar    1.039713
 Apr    1.022066
 May    1.005757
 Jun    0.984608
 Jul    0.943539
 Aug    0.982819
 Sep    0.982285
 Oct    1.009876
 Nov    1.034438
 Dec    1.015027
 All    1.000000
 Name: All, dtype: float64, month
 Jan    1.099778
 Feb    1.174790
 Mar    1.216679
 Apr    1.057234
 May    0.933051
 Jun    0.881584
 Jul    0.854724
 Aug    0.855572
 Sep    0.884296
 Oct    0.936408
 Nov    1.039562
 Dec    1.082734
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.970404
 Feb    1.045056
 Mar    1.109071
 Apr    1.008599
 May    0.994321
 Jun    0.958556
 Jul    0.925888
 Aug    0.957933
 Sep    0.965405
 Oct    1.001705
 Nov    1.030243
 Dec    1.028868
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.992603
 Feb    1.038878
 Mar    1.073119
 Apr    1.018650
 May    0.981402
 Jun    0.965737
 Jul    0.948039
 Aug    0.975578
 Sep    0.968898
 Oct    1.018290
 Nov    1.012389
 Dec    1.006381
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.987469
 Feb    1.064222
 Mar    1.091747
 Apr    1.003943
 May    0.987696
 Jun    0.922626
 Jul    0.946063
 Aug    0.972180
 Sep    0.933827
 Oct    0.989427
 Nov    1.056077
 Dec    1.042804
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.980977
 Feb    1.030192
 Mar         NaN
 Apr    1.028356
 May    1.010950
 Jun    0.981499
 Jul    0.958946
 Aug    0.964138
 Sep    0.980842
 Oct    1.010899
 Nov    1.044504
 Dec    1.051542
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.983281
 Feb    1.046066
 Mar    1.079142
 Apr    1.027805
 May    0.997605
 Jun    0.960867
 Jul    0.975654
 Aug    0.934982
 Sep    0.928723
 Oct    0.995798
 Nov    1.012246
 Dec    1.061495
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.932569
 Feb    0.999063
 Mar    1.098369
 Apr    1.016996
 May    0.988509
 Jun    0.980562
 Jul    0.960841
 Aug    0.965019
 Sep    0.979618
 Oct    1.006907
 Nov    1.020022
 Dec    1.045900
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.987644
 Feb    1.055169
 Mar    1.090123
 Apr    1.025134
 May    0.994063
 Jun    0.955322
 Jul    0.968249
 Aug    0.928024
 Sep    0.923820
 Oct    0.992880
 Nov    1.021036
 Dec    1.063665
 All    1.000000
 Name: All, dtype: float64, month
 Jan    1.001404
 Feb    1.070126
 Mar    1.115000
 Apr    1.046473
 May    0.976630
 Jun    0.975039
 Jul    0.978887
 Aug    0.919348
 Sep    0.894641
 Oct    0.977093
 Nov    0.992005
 Dec    1.079711
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.982510
 Feb    1.057118
 Mar    1.124260
 Apr    1.030093
 May    0.981048
 Jun    0.940094
 Jul    0.903172
 Aug    0.941815
 Sep    0.961548
 Oct    1.012875
 Nov    1.042565
 Dec    1.021154
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.964251
 Feb    1.014060
 Mar    1.074564
 Apr    1.039434
 May    0.992635
 Jun    0.987227
 Jul    0.964124
 Aug    0.979270
 Sep    0.949830
 Oct    1.012306
 Nov    0.984099
 Dec         NaN
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.971215
 Feb    1.038053
 Mar    1.078101
 Apr    1.032820
 May    1.014704
 Jun    0.967821
 Jul    0.893370
 Aug    0.982420
 Sep    0.946722
 Oct    1.011017
 Nov    1.022971
 Dec    1.022060
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.959573
 Feb    1.015720
 Mar    1.043976
 Apr    1.018406
 May    1.002076
 Jun    1.004860
 Jul    0.976844
 Aug    1.007493
 Sep    0.986426
 Oct    0.995474
 Nov    1.012450
 Dec    0.975404
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.970730
 Feb    1.035813
 Mar    1.056267
 Apr    1.041101
 May    1.024788
 Jun    0.962833
 Jul    0.931754
 Aug    0.978335
 Sep    0.975542
 Oct    1.010524
 Nov    1.025647
 Dec    0.982784
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.956536
 Feb    1.035908
 Mar    1.088682
 Apr    1.026486
 May    0.993854
 Jun    0.968142
 Jul    0.929021
 Aug    0.975679
 Sep    0.976122
 Oct    1.012189
 Nov    1.040653
 Dec    0.994253
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.968182
 Feb    1.029677
 Mar    1.050747
 Apr    1.028149
 May    1.000771
 Jun    0.973262
 Jul    0.954753
 Aug    0.990235
 Sep    0.978644
 Oct    0.999811
 Nov    1.026637
 Dec    0.997073
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.900510
 Feb    0.976440
 Mar    1.068896
 Apr    1.043897
 May    1.021670
 Jun    0.994250
 Jul    0.960306
 Aug    0.996130
 Sep    0.990138
 Oct    1.011205
 Nov    1.023990
 Dec    1.007702
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.982021
 Feb    1.026976
 Mar    1.066828
 Apr    1.035900
 May    0.986813
 Jun    0.975069
 Jul    0.962297
 Aug    0.972884
 Sep    0.962286
 Oct    1.004712
 Nov    1.016241
 Dec    1.002927
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.960413
 Feb    1.100267
 Mar    1.114050
 Apr    1.063371
 May    0.973094
 Jun    0.942224
 Jul    0.926038
 Aug    0.910339
 Sep    0.941211
 Oct    0.991184
 Nov    1.041717
 Dec    1.048740
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.857501
 Feb    1.010383
 Mar    1.047904
 Apr    1.072348
 May    1.052519
 Jun    0.999483
 Jul    0.940900
 Aug    0.993868
 Sep    0.980134
 Oct    0.982082
 Nov    1.047326
 Dec    1.010242
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.977133
 Feb    1.052870
 Mar    1.075769
 Apr    1.079921
 May    1.055228
 Jun    0.996979
 Jul    0.935866
 Aug    0.980615
 Sep    0.982546
 Oct    0.999664
 Nov    0.949384
 Dec    0.899072
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.957050
 Feb    1.032145
 Mar    1.103275
 Apr    1.034122
 May    0.999924
 Jun    0.997410
 Jul    0.934929
 Aug    0.928607
 Sep    0.959507
 Oct    0.996914
 Nov    1.031732
 Dec    1.018548
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.986211
 Feb    1.074116
 Mar    1.223724
 Apr    1.097748
 May    0.945455
 Jun    0.922433
 Jul    0.899748
 Aug    0.881522
 Sep    0.892987
 Oct    0.982623
 Nov    1.057288
 Dec    1.036627
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.939205
 Feb    1.005103
 Mar    1.081747
 Apr    1.039150
 May    1.013587
 Jun    1.000240
 Jul    0.933988
 Aug    0.976646
 Sep    0.978038
 Oct    1.006353
 Nov    1.007192
 Dec    1.004004
 All    1.000000
 Name: All, dtype: float64, month
 Jan    1.006953
 Feb    1.042643
 Mar    1.046482
 Apr    1.021452
 May    0.987669
 Jun    0.974564
 Jul    0.970003
 Aug    0.984006
 Sep    0.967858
 Oct    0.988344
 Nov         NaN
 Dec         NaN
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.988236
 Feb    1.059366
 Mar    1.110024
 Apr    1.038383
 May    0.995653
 Jun    0.983320
 Jul    0.934177
 Aug    0.931635
 Sep    0.966238
 Oct    0.981721
 Nov    1.022665
 Dec    0.962428
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.988917
 Feb    1.036711
 Mar    1.057230
 Apr    1.021133
 May    0.990261
 Jun    0.968451
 Jul    0.938270
 Aug    1.011999
 Sep    0.978889
 Oct    1.017695
 Nov    1.005713
 Dec    0.978229
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.969431
 Feb    1.033787
 Mar    1.052549
 Apr    1.006169
 May    1.018307
 Jun    0.980957
 Jul    0.959760
 Aug    0.989704
 Sep    0.996019
 Oct    1.002241
 Nov    1.003548
 Dec    0.982494
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.960912
 Feb    0.990267
 Mar    1.063506
 Apr    1.053565
 May    0.974990
 Jun    0.978281
 Jul    0.967321
 Aug    0.995190
 Sep    0.987457
 Oct    1.036357
 Nov    1.014150
 Dec    0.980775
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.943721
 Feb    1.018246
 Mar    1.172067
 Apr    1.038273
 May    0.977538
 Jun    0.999609
 Jul    0.972810
 Aug    0.880697
 Sep    0.929764
 Oct    0.987017
 Nov    1.024882
 Dec    1.048185
 All    1.000000
 Name: All, dtype: float64, month
 Jan    1.032924
 Feb    1.034357
 Mar    1.064868
 Apr    0.987968
 May    1.006359
 Jun    0.932992
 Jul    0.909356
 Aug    0.984416
 Sep    0.998705
 Oct    1.022158
 Nov    1.024188
 Dec    1.009125
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.995894
 Feb    1.036748
 Mar    1.046166
 Apr    0.960419
 May    0.989499
 Jun    0.988419
 Jul    0.925949
 Aug    1.011851
 Sep    1.015519
 Oct    1.018928
 Nov    0.995375
 Dec    0.996529
 All    1.000000
 Name: All, dtype: float64, month
 Jan    1.005102
 Feb    1.283232
 Mar    1.339759
 Apr    1.162747
 May    0.910231
 Jun    0.857726
 Jul    0.808620
 Aug    0.775074
 Sep    0.836446
 Oct    0.950765
 Nov    1.068837
 Dec    1.065403
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.980313
 Feb    1.032365
 Mar    1.057857
 Apr    1.029710
 May    0.996709
 Jun    0.982125
 Jul    0.960036
 Aug    0.981011
 Sep    0.960945
 Oct         NaN
 Nov         NaN
 Dec         NaN
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.996172
 Feb    1.032108
 Mar    1.074331
 Apr    1.032026
 May    0.990725
 Jun    0.962791
 Jul    0.928848
 Aug    0.982045
 Sep    0.982203
 Oct    1.005886
 Nov    1.033664
 Dec    0.977557
 All    1.000000
 Name: All, dtype: float64, month
 Jan    0.944926
 Feb    1.049407
 Mar    1.093141
 Apr    1.033981
 May    1.002975
 Jun    0.963305
 Jul    0.931255
 Aug    0.962867
 Sep    0.963761
 Oct    1.006878
 Nov    1.041647
 Dec    1.003029
 All    1.000000
 Name: All, dtype: float64]

## core weekday code

In [42]:
ramp_data=ramp_data[ramp_data['week'].isin(['Tuesday', 'Wednesday', 'Thursday'])].copy()

In [43]:
for number in det:
        ramp_data_loc=ramp_data[ramp_data['det#']== number]    
        df=ramp_data_loc[ramp_data_loc.Imputation!='Bad']
        df_nohd=df[df.Holiday_flag!='Holiday']
        ave=pd.pivot_table(df,index='month',columns='week',values="Total",aggfunc='mean', margins=True)
        ave_nohd=pd.pivot_table(df_nohd,index='month',columns='week',values="Total",aggfunc='mean', margins=True)
        count=pd.pivot_table(df,index='month',columns='week',values="Total",aggfunc='count', margins=True)
        count_nohd=pd.pivot_table(df_nohd,index='month',columns='week',values="Total",aggfunc='count', margins=True)
        row_index=['Jan', 'Feb', 'Mar', 'Apr' , 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec','All']
        col_index=['Tuesday', 'Wednesday', 'Thursday','All']
        ave = ave.reindex(col_index, axis = 1)
        ave = ave.reindex(row_index, axis = 0)

        ave_nohd = ave_nohd.reindex(col_index, axis = 1)
        ave_nohd = ave_nohd.reindex(row_index, axis = 0)

        count= count.reindex(col_index, axis = 1)
        count = count.reindex(row_index, axis = 0)

        count_nohd= count_nohd.reindex(col_index, axis = 1)
        count_nohd = count_nohd.reindex(row_index, axis = 0)

        #calculate factors
        factor=ave/ave.loc["All" , "All"]
        factor_nohd=ave_nohd/ave_nohd.loc["All" , "All"]
        
      # Creating Excel Writer Object from Pandas  
        #writer = pd.ExcelWriter(str(number)+'.xlsx',engine='xlsxwriter')   
        #workbook=writer.book
        #worksheet=workbook.add_worksheet('result')
       # writer.sheets['result'] = worksheet
       # factor.to_excel(writer,sheet_name='result',startrow=0 , startcol=0)   
        #count.to_excel(writer,sheet_name='result',startrow=0, startcol=12) 
       # factor_nohd.to_excel(writer,sheet_name='result',startrow=20 , startcol=0)   
       # count_nohd.to_excel(writer,sheet_name='result',startrow=20, startcol=12) 
       # writer.save()
        
        factor_month.append(factor['All'])
        factor_week_value=factor.iloc[['12']].T
        factor_week.append(factor_week_value['All'])
        
        factor_nohd_month.append(factor_nohd['All'])
        factor_nohd_week_value=factor_nohd.iloc[['12']].T
        factor_nohd_week.append(factor_nohd_week_value['All'])

## export

In [135]:
factor_month=pd.DataFrame(factor_month)
factor_month.index=det

factor_week=pd.DataFrame(factor_week)
factor_week.index=det

factor_nohd_month=pd.DataFrame(factor_nohd_month)
factor_nohd_month.index=det

factor_nohd_week=pd.DataFrame(factor_nohd_week)
factor_nohd_week.index=det

# Creating Excel Writer Object from Pandas  
writer = pd.ExcelWriter('MD.xlsx',engine='xlsxwriter')   
workbook=writer.book
worksheet=workbook.add_worksheet('month_factor')
writer.sheets['month_factor'] = worksheet
factor_month.to_excel(writer,sheet_name='month_factor',startrow=0 , startcol=0)   
factor_nohd_month.to_excel(writer,sheet_name='month_factor',startrow=0, startcol=16) 

worksheet=workbook.add_worksheet('week_factor')
writer.sheets['week_factor'] = worksheet
factor_week.to_excel(writer,sheet_name='week_factor',startrow=0 , startcol=0)   
factor_nohd_week.to_excel(writer,sheet_name='week_factor',startrow=0, startcol=11) 

writer.save()